.mainContainer {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    min-height: 100%;
    padding: 1.5rem;
}

.macpng {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 50%;
}

.macpng img {
    width: 100%;
    height: 100%;
    height: auto;
}

.mainBox {
    padding: 2rem;
    border-radius: 0.8rem;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.37);

    max-width: 25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
}

.spyllLogo {
    font-family: 'Liquids', sans-serif;
    font-weight: 400;
    font-size: 3.5rem;
    letter-spacing: -2px;
    color: #000000;
    text-align: center;
    margin-bottom: 1rem;
    user-select: none;
}

.input {
    width: 100%;
    color: var(--mymblack);
    /* margin: 0.5rem 0; */
}

.selectInput {
    width: 100%;
    color: var(--mymblack);
    margin: 0.4rem;
}

.placeholder {
    color: rgba(0, 0, 0, 0.537);
}

.button {
    width: 80%;
    margin-top: 1rem;
    text-transform: none;
}

.button2 {
    margin-top: 1.5rem;
}

.paraLink {
    color: #757575;
    text-align: center;
    font-family: Inter;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin: 1rem auto;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #D9D9D9;
}











@media (width<600px) {
    .mainContainer {
        padding: 0;
        min-height: 80vh;
    }

    .mainBox {
        max-width: 100vw;
        box-shadow: none;
    }
}

@media (width<900px) {
    .macpng {
        display: none;
    }
}