.isLoading img {
    width: 5rem;
    height: auto;
    transform: translateY(20%);
    opacity: 0.6;
}

.isLoading {
    font-size: 2rem;
    font-family: 'Trade Winds';
    font-weight: 100;
    color: rgb(89, 89, 89);
}

@media (width< 900px) {
    .isLoading {
        font-size: 1.5rem;
    }
}

@media (width< 600px) {
    .isLoading {
        font-size: 1.2rem;
    }
}