.isLoading img {
    width: 5rem;
    height: auto;
    transform: translateY(20%);
    opacity: 0.4;
}

.isLoading {
    font-size: 2rem;
    /* font-family: 'Trade Winds'; */
    font-weight: 100;
    color: rgb(49, 49, 49);
}

.mainHeading{
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    padding-left: calc(2rem + var(--sidebarwidth));
}

@media (max-width: 800px) {
    .mainHeading {
        padding-left: 0;
    }
}

.chipParent {
    overflow: hidden;
}

.chipContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: auto;
    /* width: 100%; */
    margin: auto;
    width: 50vw;
    /* margin-bottom: 5rem; */
    overflow: auto;
    white-space: nowrap;
}

.chip {
    background-color: rgb(130, 130, 130);
    color: white;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    flex-shrink: 0;
}

.checked {
    background: linear-gradient(to right, rgba(218, 9, 197, 0.7), rgba(0, 186, 244, 0.7));
}


@media (width< 900px) {
    .isLoading {
        font-size: 1.5rem;
    }
}

@media (width< 600px) {
    .isLoading {
        font-size: 1.2rem;
    }
}


@media (width<1500px) {
    .chipContainer {
        width: 60vw;
    }

    .confessionfooter {
        width: 60vw;
    }
}

@media (width<1200px) {
    .chipContainer {
        width: 70vw;
    }

    .confessionfooter {
        width: 70vw;
    }
}

@media (width<1000px) {
    .chipContainer {
        width: 80vw;
    }

    .confessionfooter {
        width: 80vw;
    }
}
