.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
    margin: 4rem 0;
}

.mainContainer {
    margin: 0;
    width: auto;
    height: auto;
    width: 50vw;
    min-height: 60vh;
    /* border: 1px solid red; */
    border-radius: 1.1875rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: linear-gradient(204deg, hsla(0, 0%, 15%, 0.8) 30.1%, hsla(0, 100%, 50%, 0.8) 79.73%);
}

.mainContainer .textarea {
    padding-top: 2rem;
    padding-left: 2rem;
    resize: none;
    font-family: 'Dancing Script';
    color: white;
    font-size: 1.5rem;
    caret-color: white;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    flex: 1;
    color: #FFF;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.105rem;

}

.mainContainer .textarea::placeholder {
    color: white;
    font-weight: 300;
}

.confessButton {
    border: none;
    cursor: pointer;
    width: 7.0625rem;
    height: 2.75rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background: #FEFCFC;
    color: hsla(0, 0%, 0%, 0.7);
    text-align: center;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.confessButton:disabled {
    background: #d7d7d7;
}

/* width */
.mainContainer textarea::-webkit-scrollbar {
    width: 5px;

}

/* Track */
.mainContainer textarea::-webkit-scrollbar-track {
    background: #88888851;
    border-radius: 5px;

}

/* Handle */
.mainContainer textarea::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    cursor: pointer;

    border-radius: 5px;
}

/* Handle on hover */
.mainContainer textarea::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
}

.masks img {
    width: 3rem;
    height: auto;
}

.confessionfooter {
    margin-top: 1rem;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.likes {
    display: flex;
    align-items: center;
    background-color: var(--mymblack);
    min-width: 2rem;
    padding: 0.5rem 2rem;
    border-radius: 4rem;
    justify-content: space-evenly;
    gap: 0.8rem;
    color: white;
    font-family: Roboto;
    font-size: 1.6rem;
}

.reply {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2rem;
    border-radius: 4rem;
    flex: 1;
    
}
.reply2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 4rem;
    height: 3rem;
    border: 1px solid rgb(0, 0, 0);
    padding:0.3rem 0.8rem 0.3rem 1rem;
    overflow: hidden;
}
.reply2 input{
    
    font-size: 1.2rem;
    color: rgb(50, 50, 50);
}

.anonymInput{
    background-color: var(--mymblack);
    height: 100%;
    width: 100%;
    color: white;
    font-size: 1.3rem;
    font-family: Roboto;
    font-weight: 300;
    padding-left: 3rem;
    border-radius: 3rem;
}

.anonymInput::placeholder{
    color: rgba(255, 255, 255, 0.589);
}

.comment {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .avatar img {
    width: 30px; /* Adjust the size as needed */
    height: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  
  .commentContent {
    flex-grow: 1;
  }
  

  .comBtn{
    border: none;
    border-radius: 3rem;
    padding: 0.1rem;
    background-color: var(--mymblack);
    color: white;
    height: 100%;
    width: auto;
    padding: 0.4rem 1.5rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 1rem;
  }

  .comments::-webkit-scrollbar{
    display: none;
  }



  @media (width<600px){
    .reply2 input{
    
        font-size: 0.8rem;
        color: rgb(50, 50, 50);
    }
    .comBtn{
        font-size: 1rem;
        padding: 0.3rem 1rem;
        margin-left: 0.5rem;
    }
  }