.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.mainContainer {
    margin: 0;
    width: auto;
    height: auto;
    min-width: 50vw;
    min-height: 60vh;
    border: 1px solid red;
    border-radius: 1.1875rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: linear-gradient(204deg, hsla(0, 0%, 15%, 0.8) 30.1%, hsla(0, 100%, 50%, 0.8) 79.73%);
}

.mainContainer textarea {
    padding-top: 2rem;
    padding-left: 2rem;
    resize: none;
    font-family: 'Dancing Script';
    color: white;
    font-size: 1.5rem;
    caret-color: white;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    flex: 1;
    color: #FFF;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.105rem;

}

.mainContainer textarea::placeholder {
    color: white;
    font-weight: 300;
}

.confessButton {
    border: none;
    cursor: pointer;
    width: 7.0625rem;
    height: 2.75rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background: #FEFCFC;
    color: hsla(0, 0%, 0%, 0.7);
    text-align: center;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* width */
.mainContainer textarea::-webkit-scrollbar {
    width: 5px;

}

/* Track */
.mainContainer textarea::-webkit-scrollbar-track {
    background: #88888851;
    border-radius: 5px;

}

/* Handle */
.mainContainer textarea::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    cursor: pointer;

    border-radius: 5px;
}

/* Handle on hover */
.mainContainer textarea::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1;
}