.cotainer {
    padding: 2rem;
}

.h1 {
    font-family: 'Jost';
    text-align: left;
    font-weight: 400;

}

.box {
    background-color: white;
    width: 60%;
    margin: auto;
    padding: 0.7rem;
    border-radius: 1.5rem;
    /* box-shadow: 3px 3px 6px rgba(39, 39, 39, 0.5); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 40rem;
    border-bottom-right-radius: 0;
}

.maleBox {
    box-shadow: 5px 4px 4px 0px rgba(64, 151, 244, 0.20);

}

.femaleBox {
    box-shadow: 5px 4px 4px 0px rgba(255, 118, 159, 0.2);

}

.confession {
    width: 100%;
    padding: 1rem 0rem 2rem 4rem;
    border-radius: 1.5rem;
    transition: all 0.3s ease-out;
    cursor: pointer;
    text-align: justify;
}

.confession:hover {
    filter: hue-rotate(20deg);
}

.confession a {
    margin-left: 0rem;
    text-align: right;
    color: rgba(0, 0, 0, 0.793);
    text-decoration: none;
    font-family: 'Jost';
    font-size: 1rem;
    /* font-weight: 400; */
}

.replierConfession {
    align-self: flex-end;
    float: right;
    width: 70%;
    margin-bottom: 0.2rem;
    padding: 1rem 2rem;

}

.replierConfession a {
    font-family: 'Jost', sans-serif;
    font-size: 0.8rem;

}

.youReplied {
    width: 100%;
    text-align: right;
    font-size: 0.8rem;
    margin-right: 1rem;
}

.br {
    width: 97%;
    border-radius: 1rem;
    margin: 1rem auto;
    height: 4px;
    background-color: #9B9B9B;
}

.repliesBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

.reply {
    width: 100%;
    display: flex;
    /* box-shadow: 0px 0 5px rgba(39, 39, 39, 0.9); */
    position: relative;
    border-radius: 0.7rem;
    /* border: 1px solid red; */
    overflow: hidden;
    font-family: 'Jost', sans-serif;
    border: 1px solid rgba(128, 128, 128, 0.586);
    text-align: right;
}


.replyContent {
    padding: 1rem 3rem;
}

.markup {
    width: 0.5rem;
    min-width: 0.5rem;
    max-width: 0.5rem;
    flex-shrink: 0;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2) inset;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}

#maleReply {
    background-color: #2CBFDF;
}

#femaleReply {
    background-color: #df2c7a;
}

#femaleConfession {
    /* background: linear-gradient(204deg, rgba(38, 38, 38, 0.8) 30.1%, #AE67AF 79.73%); */
    /* box-shadow: 5px 4px 4px 0px rgba(255, 118, 159, 0.2); */
}

#maleConfession {
    /* background: linear-gradient(204deg, rgba(38, 38, 38, 0.8) 30.1%, #2CBFDF 79.73%); */
    /* box-shadow: 5px 4px 4px 0px rgba(64, 151, 244, 0.20); */

}

.greenDot {
    width: 7px;
    height: 7px;
    border-radius: 70%;
    background-color: rgb(1, 209, 1);
    margin: 2px;
    position: absolute;
    top: 6px;
    right: 6px;

}

.secRepMainCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Adjust as per your layout needs */
    align-items: flex-start;
    /* Adjust as per your layout needs */
    padding-left: 3rem;
    padding-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 0rem;
    max-height: 300px;
    /* Maximum height to maintain */
    overflow-y: auto;
    /* Show scrollbar only when necessary */
}

.secRep {
    width: 100%;
    display: flex;
    border-radius: 0.7rem;
    position: relative;
    font-family: 'Jost', sans-serif;
    /* border: 1px solid rgba(128, 128, 128, 0.586); */
    margin-bottom: 0rem;
    /* Add some space between posts */
    height: 100%;

}

/* WebKit Scrollbar Styling */
.secRepMainCont::-webkit-scrollbar {
    display: block;
    width: 10px;
}

.secRepMainCont::-webkit-scrollbar-track {
    display: block;
    background: rgba(0, 0, 0, 0.0);
}

.secRepMainCont::-webkit-scrollbar-thumb {
    display: block;
    background-color: #D9D9D9;
    border-radius: 10px;
    /* border: 2px solid rgba(0, 0, 0, 0); */
}

.secRepMainCont::-webkit-scrollbar-thumb:hover {
    display: block;
    background-color: rgba(169, 169, 169, 0.7);
}


.secRep:first-child {
    margin-top: 1rem;


}

.secRep input {
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 0.7rem;
    border: none;
    font-family: 'Jost', sans-serif;
    padding: 1rem 3rem;
    font-size: 1rem;
}

.secRep::selection {
    background-color: black;
    color: white;
}

.replyButton {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    text-transform: none;
    color: rgb(40, 40, 40);
    text-align: right;
    cursor: pointer;

}

@media (width<800px) {
    .h1 {
        margin-left: 1rem;
    }



    .box {
        justify-content: flex-start;
        width: 90%;
    }

    .reply {
        border-radius: 0.5rem;
        /* box-shadow: 0px 0 3px rgba(39, 39, 39, 0.7); */
        border: 1px solid gray;

    }

    .confession a {
        font-size: 1rem;
    }

    .replyContent {
        padding: 0.6rem 3rem;
    }

    .markup {
        width: 0.4rem;
        /* box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2) inset; */
        /* box-shadow: 5px 4px 4px 0px rgba(255, 118, 159, 0.2); */
        min-width: 0.5rem;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    .br {
        height: 3px;
    }
}

@media (width> 800px) {
    .hdiv {
        max-width: 40vw;

    }
}