.mainContainer {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    padding: 1.5rem;
    background: linear-gradient(135deg, #fafafa 0%, #fff5f8 50%, #fef0f5 100%);
}

.mockupSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 45%;
    padding: 2rem;
}

.macpng {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 50%;
}

.macpng img {
    width: 100%;
    height: 100%;
    height: auto;
}

.mainBox {
    padding: 2rem;
    border-radius: 0.8rem;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    box-shadow: -2px 6px 4px 0px rgba(0, 0, 0, 0.37);

    max-width: 25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
}

.spyllLogo {
    font-family: 'Liquids', sans-serif;
    font-weight: 400;
    font-size: 4rem;
    color: #000000;
    text-align: center;
    margin-bottom: 1rem;
    user-select: none;
    display: block;
}

.input {
    width: 100%;
    color: var(--spyllblack);
    /* margin: 0.5rem 0; */
}

.selectInput {
    width: 100%;
    color: var(--spyllblack);
    margin: 0.4rem;
}

.placeholder {
    color: rgba(0, 0, 0, 0.537);
}

.genderWarning {
    width: 100%;
    margin: -0.75rem 0 0 0;
    padding: 0.25rem 0;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.3;
    font-weight: 400;
    text-align: left;
}

.button {
    width: 60%;
    margin-top: 1rem;
    text-transform: none;
}

.button2 {
    /* margin-top: 3.5rem; */
}

.paraLink {
    color: #757575;
    text-align: center;
    font-family: Inter;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.paraLink2 {
    color: #757575;
    text-align: center;
    font-family: Inter;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-top: 1rem;
    display: flex;
    justify-content: center;

}

.line {
    width: 100%;
    height: 2px;
    background-color: #D9D9D9;
margin-bottom: 1.5rem;  
margin-top: 1.5rem;  
}











@media (width<600px) {
    .mainContainer {
        padding: 0;
    }

    .mainBox {
        max-width: 100vw;
        box-shadow: none;
    }
}

@media (width<900px) {
    .macpng {
        display: none;
    }
    
    .mockupSection {
        display: none;
    }
}