.mainSidebarDiv {
    display: flex;
    flex-direction: column;
    background-color: #2D2D2D;
    position: fixed;
    top: var(--topbarheight);
    left: 0;
    align-items: flex-end;
    gap: 2rem;
    z-index: 999;
}

.iconspng1 {
    width: 2rem;
    height: auto;
}

.iconspng2 {
    width: 2.7rem;
    height: auto;
}

.iconspng3 {
    width: 2rem;
    height: auto;
}

.iconspng4 {
    width: 2rem;
    height: auto;
}


.active .iconspng {
    color: rgb(0, 243, 247);
    filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.3));
}



.icons {
    width: 90%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    display: flex;
    justify-content: center;
    padding: 0.4rem 0;
    filter: invert(1);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.active {
    background-color: white;
    box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.5);
    filter: invert(0);
    transition: width 0.3s, height 0.3s;
}

.activeAndAtHome {
    background-color: white;
    background-image: url('/images/patterns/leatherhome2.jpg');
    box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.5);
    filter: invert(0);
    transition: width 0.3s, height 0.3s;
}