.mainDiv {
    display: flex;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--mymblack);
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-left: 1rem;
    /* min-height: 5rem; */
    z-index: 999; 
    flex-shrink: 0;
    height: var(--topbarheight);
    /* position: relative; */
}
 




/* Drawer__________________________ */

.MainCont {
    width: 260px;
    background-color: var(--mymblack);
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.MainCont * {
    text-decoration: none;
}

.list {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
    gap: 1.5rem;
    width: 100%;

}

.link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.imageCont {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.logoImage {
    width: 60%;
    height: auto;
    overflow: hidden;
}


.sideBarLinks {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    border-radius: 1rem;    
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 1rem;
    overflow: hidden;
    padding: 0.1rem 0.5rem;
    width: 100%;
    
}



.activeListItem {
    background-color: rgba(211, 211, 211, 0.3);
    text-decoration: none;


    /* margin: 1rem; */
}

.sideIcon {
    width: 1.5rem;
    filter: invert(1);
    height: auto;
    font-size: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    overflow: hidden;
}
.iconspng1{
    width: 1.4rem;
}
.iconspng2{
    width: 2rem;
}
.iconspng3{
    width: 1.6rem;
}
.iconspng1{
    width: 1.4rem;
}



.sideBarListItem .sideBarLinks .linkText {
    color: white;
    text-decoration: none;
    font-family: 'Krona One', Inter;
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
    font-size: 0.9rem;

}


/* The hamburger icon_____________________ */
.menuIcon {
    color: white;
    font-size: 55px;
}

.sessionButtons{
position: absolute;
right: 1rem;
display: flex;
align-items: center;
justify-content: center;
gap: 1rem;

}

.sessionButtons button{
    outline: none;
    border: none;
    padding: 0.7rem;
    font-weight: 600;
    border-radius: 0.5rem;
    font-family: Inter;
    cursor: pointer;
}
.login{
    background-color: white;
    color: black;
}
.signup{
    background-color: #0C8CE9;
    color: white;
}
@media (width<800px) {
    .mainDiv {
        justify-content: space-between;
    }

}
@media (width>=800px){
    .mainDiv{
        padding-left: 3.5rem;
    }
    .drawermain{
        display: none;
    }
}
