.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.main img {
    width: 60%;
    height: auto;
}

.text {
    color: #545454;
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.timeBox {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    align-items: center;

}

.timerBox{
    display: flex;
    gap: 1rem;
}


.time {
    border: 2px #D9D9D9 solid;
    padding: 1.5rem 0.7rem;
    font-family: 'Tan Pearl', 'Poppins', sans-serif;
    font-size: 1.5rem;
    border-radius: 0.6rem;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #575757;
}

.timeSection{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.timeCaption {
    font-size: 0.8rem;
    color: #737373;
}

.colon {
    font-size: 2rem;
    transform: translateY(-30%);
}

@media (min-width: 800px) {
    .main img {
        width: 40%;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
