@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

:root {
  --sidebarwidth: 6vw;
  --topbarheight: 9vh;
  --inputboxheight: 3rem;
  --remwidth: calc(100vw - var(--sidebarwidth));
  --remheight: calc(100vh - var(--topbarheight));
  --mymblack: #2D2D2D;
}

body,
html,
:root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'ITC Kristen';
  src: url('/fonts/ITCKRIST.ttf');
}


.chatContainer {
  height: 100%;
}



.topbarheight {
  height: var(--topbarheight);
}

.sidebardim {
  width: var(--sidebarwidth);
  height: var(--remheight);
}

.remcomponents {
  width: var(--remwidth);
  height: var(--remheight);
}

@media (width < 1400px) {
  :root {
    --sidebarwidth: 6vw;
    --topbarheight: 8vh;
  }
}

@media (width < 1300px) {
  :root {
    --sidebarwidth: 8vw;
    --topbarheight: 8vh;
  }
}

@media (width < 1000px) {
  :root {
    --sidebarwidth: 8vw;
    --topbarheight: 6vh;
  }
}

@media (width < 900px) {
  :root {
    --sidebarwidth: 9vw;
    --topbarheight: 8vh;
  }
}

@media (width < 800px) {
  :root {
    --sidebarwidth: 0vw;
    /* --topbarheight:0vh; */
  }

  .sidebarvisibility {
    display: none;
  }
}