/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Inknut+Antiqua:wght@300;400;500;600;700;800&family=Krona+One&family=Abhaya+Libre:wght@400;500;600;700;800&family=Aclonica&family=Belgrano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Trade+Winds&display=swap');
:root {
  --sidebarwidth: 6vw;
  --topbarheight: 4.5rem;
  --inputboxheight: 3rem;
  --remwidth: calc(100vw - var(--sidebarwidth));
  --remheight: calc(100vh - var(--topbarheight));
  --mymblack: #2D2D2D;
  --lightpink: rgba(128, 0, 128, 0.359);
}

body, html{
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  overflow-x: hidden;
  font-family: Jost, sans-serif;
}


* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

button:focus {
  box-shadow: none;
}

.sidebarvisibility {
  /* display: none; */
  /* content-visibility: hidden; */
  opacity: 1;
  z-index: 5;
}

@font-face {
  font-family: 'ITC Kristen';
  src: url('/fonts/ITCKRIST.ttf');
}

button {
  -webkit-tap-highlight-color: transparent;
}





.sidebardim {
  width: var(--sidebarwidth);
  height: var(--remheight);
}


@media (width < 1400px) {
  :root {
    --sidebarwidth: 6vw;
    --topbarheight: 4rem;
  }
}

@media (width < 1300px) {
  :root {
    --sidebarwidth: 8vw;
    --topbarheight: 4rem;
  }
}

@media (width < 1000px) {
  :root {
    --sidebarwidth: 8vw;
    --topbarheight: 4rem;
  }
}

@media (width < 900px) {
  :root {
    --sidebarwidth: 9vw;
    --topbarheight: 3.7rem;
  }
}



@media (width < 800px) {
  :root {
    --sidebarwidth: 0vw;
  }

  .sidebarvisibility {
    opacity: 0;
    z-index: -9990;
  }
}

@media (width < 600px) {
  :root {
    --inputboxheight: 2rem;

  }
}

.remcomponents {
  width: var(--remwidth);
  height: var(--remheight);
  overflow: hidden;
}

* {
  -webkit-tap-highlight-color: transparent !important;
  -webkit-focus-ring-color: transparent !important;
}

.remcheight{
  margin-top: var(--topbarheight);
  height: var(--remheight);

}

.remcwidth{
  margin-left: var(--sidebarwidth);
}

.loadingGif{
  width: 9rem;
  height: auto;
}

@media (width<800px){
  .loadingGif{
    width: 7rem;
    height: auto;
  }
}

@media (width<600px){
  .loadingGif{
    width: 5rem;
    height: auto;
  }
}