.mainContainer {
  width: 100%;
  background-image: url('/images/patterns/leatherhome2.jpg');
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  padding-bottom: 5rem;
}

.hiuser {
  display: flex;
  justify-content: center;
}

.hiuser img {
  width: 20rem;
  height: auto;
  transform: translateY(10%);
  /* border: 1px solid rgba(255, 0, 0, 0.408); */
}

.fullform {
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.3rem;
  letter-spacing: 17px;
  text-align: center;
  margin: 0;

  /* border: 1px solid rgba(255, 0, 0, 0.408); */

}

.desc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #666363;
  text-align: center;
  /* border: 1px solid rgba(128, 128, 128, 0.399); */
  margin-top: 0;
  margin-bottom: 0;
}

.showcase {
  display: flex;
  /* border: 1px solid indianred; */
  margin-top: 5rem;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-bottom: 5rem;
}

.showcaseImg {
  width: 40%;
  height: auto;
}

.showcaseCont {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 5rem;
  text-align: center;
  /* border: 1px solid red; */
}

.tagline {
  font-family: "Belgrano", serif;
  font-weight: 500;
  font-size: 2.8rem;
  letter-spacing: -2px;
}

.taglineP {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

#taglinePid {
  max-width: 600px;
}

.arrowSvg {
  width: 50%;
  height: auto;
  margin-bottom: 2rem;
}
.comingsoonCards{
  width: 100%;
  display: flex;
  justify-content: center;
}

.comingsoonCards img{
  width: 40%; 
  height: auto;
}

@media (width<1200px) {

  .hiuser img {
    width: 15rem;
    transform: translateY(0%);
  }

  .fullform {
    font-size: 1.5rem;
    letter-spacing: 11px;
    font-weight: 500;
    margin-top: -1rem;

  }

  .desc {
    font-size: 0.8rem;
  }

  #taglinePid {
    max-width: 400px;
  }


  .showcase {
    margin-top: 5rem;
  }

  .showcaseImg {
    width: 50%;
    height: auto;
  }

  .showcaseCont {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: 1px solid red; */
    padding-bottom: 5rem;
  }

  .tagline {
    font-family: "Belgrano", serif;
    font-weight: 500;
    font-size: 1.5rem;
  }

  .taglineP {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
  }

}

@media (width<1000px) {

  .hiuser img {
    width: 15rem;
    transform: translateY(0%);
  }

  .fullform {
    font-size: 1.4rem;
    letter-spacing: 10px;
    font-weight: 500;
    margin-top: -1rem;

  }

  .desc {
    font-size: 0.7rem;
    letter-spacing: 0px;
  }



  .showcase {
    margin-top: 5rem;
  }

  .showcaseImg {
    width: 50%;
    height: auto;
  }

  .showcaseCont {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: 1px solid red; */
    padding-bottom: 5rem;
  }

  .tagline {
    font-family: "Belgrano", serif;
    font-weight: 500;
    font-size: 1.5rem;
  }

  .taglineP {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
  }

  #taglinePid {
    max-width: 320px;
  }

}

@media (width<600px) {

  .hiuser img {
    width: 12rem;
    transform: translateY(0%);
  }

  .fullform {
    font-size: 1.2rem;
    letter-spacing: 9px;
    font-weight: 500;
    margin-top: -1rem;

  }

  .desc {
    padding: 0 4%;
    font-size: 0.6rem;
    letter-spacing: 0px;
  }



  .showcase {
    margin-top: 5rem;
  }

  .showcaseImg {
    width: 40%;
    height: auto;
  }

  .showcaseCont {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: 1px solid red; */
    padding-bottom: 1.5rem;
  }

  .tagline {
    font-family: "Belgrano", serif;
    font-weight: 500;
    font-size: 1rem;
  }

  .taglineP {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7rem;
  }

  #taglinePid {
    max-width: 250px;
  }


  .arrowSvg {
    width: 40%;
    height: auto;
    margin-bottom: 1rem;
  }


}

@media (width<430px) {

  .hiuser img {
    width: 15rem;
    transform: translateY(0%);
  }

  .fullform {
    font-size: 1.3rem;
    letter-spacing: 10px;
    font-weight: 500;
    margin-top: -1rem;

  }

  .desc {
    padding: 0 4%;
    font-size: 0.6rem;
    letter-spacing: 0px;
  }



  .showcase {
    margin-top: 5rem;
  }

  .showcaseImg {
    width: 40%;
    height: auto;
  }

  .showcaseCont {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: 1px solid red; */
    padding-bottom: 1.5rem;
  }

  .tagline {
    font-family: "Belgrano", serif;
    font-weight: 500;
    font-size: 0.9rem;
  }

  .taglineP {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 0.6rem;
  }
  #taglinePid {
    max-width: 190px;
  }
  #taglineP2{
    font-size: 0.4rem;
  }
  .arrowSvg {
    width: 50%;
    height: auto;
    margin-bottom: 0.2rem;
  }
}