.scrollBgWrapper {
  width: 100%;
  min-height: 100vh;
  transition: background 0.3s ease-out;
}

.mainContainer {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  overflow-x: hidden;
  padding-left: calc(1.5rem + var(--sidebarwidth));
}


.fullform {
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.3rem;
  letter-spacing: 17px;
  text-align: center;
  margin: 0;

  /* border: 1px solid rgba(255, 0, 0, 0.408); */

}

.desc {
  font-family: Inter, system-ui;
  /* font-style: inherit; */
  font-size: 1.6rem;
  /* font-weight: 600; */
  color: #a5a5a5;
  text-align: center;
  /* border: 1px solid rgba(128, 128, 128, 0.399); */
  margin-top: 0rem;
  margin-bottom: 2rem;
  text-align: center;
  font-style: italic;
  font-weight: 100;
  /* animation: italic 1s ease-in-out infinite alternate; */
  transition: all 0.3s ease-in-out;

}

/* @keyframes italic {
  0% {
    font-style: italic;
  }
  100% {
    font-style: normal;
  }
} */


.showcase {
  display: flex;
  /* border: 1px solid indianred; */
  margin-top: 5rem;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-bottom: 5rem;
}

.showcaseImg {
  width: 40%;
  height: auto;
}

.showcaseCont {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 5rem;
  text-align: center;
  /* border: 1px solid red; */
}


.map {
  width: 50%;
  height: auto;
}



.comingsoonCards {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.comingsoonCards img {
  width: 80%;
  height: auto;
}

.unlock {
  font-family: "Trade Winds", system-ui;
  font-size: 3rem;
  text-align: center;
  margin: 3rem 2rem;
  color: rgba(55, 55, 55, 0.85);
  transition: all 0.3s ease;
}


.ourgoal {
  font-family: "Jost", sans-serif;
  font-size: 8rem;
  margin-bottom: -2rem;
  color: rgba(131, 231, 253, 0.9);
  text-align: center;
  transition: all 0.3s ease;
  text-shadow: 0 2px 20px rgba(131, 231, 253, 0.2);
}

.ourgoal span {
  color: rgba(248, 82, 121, 0.9);
  text-shadow: 0 2px 20px rgba(248, 82, 121, 0.2);
}

.ourgoalP {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  font-family: 'Jost', sans-serif;
  /* font-size: 1.5rem; */
  text-align: center;
  margin: auto;
  font-size: 1.3rem;
}

.homepageBtns{
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin-top: 4rem; 
  margin-bottom: 3rem;
} 

.homepageBtns button{
  padding: 1.3rem 3rem;
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  color: white;
  font-size: 1.3rem;
  backdrop-filter: blur(30px) saturate(180%);
  -webkit-backdrop-filter: blur(30px) saturate(180%);
  font-family: Jost;
  width: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.homepageBtns button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg, 
    transparent 0%, 
    rgba(255, 255, 255, 0.8) 50%, 
    transparent 100%);
}

.homepageBtns button:hover{
  transform: translateY(-3px) scale(1.02);
  box-shadow: 
    0 12px 40px -8px rgba(0, 0, 0, 0.25),
    0 6px 20px -4px rgba(0, 0, 0, 0.15),
    inset 0 1px 0 rgba(255, 255, 255, 0.4);
}

.homepageBtns button:active {
  transform: translateY(-1px) scale(0.98);
}

.chatbtn{
  background: linear-gradient(135deg, 
    rgba(255, 118, 159, 0.8) 0%, 
    rgba(236, 64, 122, 0.75) 100%);
  box-shadow: 
    0 8px 32px -8px rgba(255, 118, 159, 0.4),
    0 4px 16px -4px rgba(236, 64, 122, 0.3),
    inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.chatbtn:hover {
  background: linear-gradient(135deg, 
    rgba(255, 118, 159, 0.9) 0%, 
    rgba(236, 64, 122, 0.85) 100%);
  box-shadow: 
    0 12px 40px -8px rgba(255, 118, 159, 0.5),
    0 6px 20px -4px rgba(236, 64, 122, 0.4),
    inset 0 1px 0 rgba(255, 255, 255, 0.4);
}

.confessbtn{
  background: linear-gradient(135deg, 
    rgba(131, 231, 253, 0.8) 0%, 
    rgba(79, 195, 247, 0.75) 100%);
  box-shadow: 
    0 8px 32px -8px rgba(131, 231, 253, 0.4),
    0 4px 16px -4px rgba(79, 195, 247, 0.3),
    inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.confessbtn:hover {
  background: linear-gradient(135deg, 
    rgba(131, 231, 253, 0.9) 0%, 
    rgba(79, 195, 247, 0.85) 100%);
  box-shadow: 
    0 12px 40px -8px rgba(131, 231, 253, 0.5),
    0 6px 20px -4px rgba(79, 195, 247, 0.4),
    inset 0 1px 0 rgba(255, 255, 255, 0.4);
}

.notohmegle{
  width: 80%;
  height: auto;
}

.featuresBg{
  width: 100%;
  height: auto;
  opacity: 0.8;
}

.chatfeatures{
color: white;
font-family: Jost;
font-style: italic;

/* border: 1px solid blue; */
position: absolute;
top: 0rem;
left: 0;

}
  
.confessionfeatures{
  color: white;
  font-family: Jost;
  font-style: italic;
  
  /* border: 1px solid blue; */
  position: absolute;
  top: 0;
  right: 1rem;
  
  }
  


.chatfeatures div{
  max-width: 1100px;
  padding-top: 16rem;
  padding-left: 4rem;
  font-size: 3rem;
}
.confessionfeatures div{
  max-width: 900px;
  padding-top: 16rem;
  /* padding-right: 4rem; */
  font-size: 3rem;
}


/* fixing typing effect position */
@media(width<1900px){
  .chatfeatures div{
    max-width: 1000px;
    padding-top: 13rem;
    padding-left: 3rem;
    font-size: 3rem;
  }
  .confessionfeatures div{
    max-width: 850px;
    padding-top: 13rem;
    /* padding-right: 3rem; */
    font-size: 3rem;
  }
}

@media(width<1600px){
  .chatfeatures div{
    max-width: 900px;
    padding-top: 11rem;
    padding-left: 2rem;
    font-size: 2.5rem;
  }
  .confessionfeatures div{
    max-width: 800px;
    padding-top: 11rem;
    /* padding-right: 2rem; */
    font-size: 2.5rem;
  }
}

@media(width<1400px){
  .chatfeatures div{
    max-width: 900px;
    padding-top: 10rem;
    padding-left: 2rem;
    font-size: 2rem;
  }
  .confessionfeatures div{
    max-width: 800px;
    padding-top: 10rem;
    /* padding-right: 2rem; */
    font-size: 2rem;
  }
}

@media(width<1300px){
  .chatfeatures div{
    max-width: 800px;
    padding-top: 9rem;
    padding-left: 2rem;
    font-size: 2rem;
  }
  .confessionfeatures div{
    max-width: 700px;
    padding-top: 9rem;
    /* padding-right: 2rem; */
    font-size: 2rem;
  }
}


@media(width<1100px){
  .chatfeatures div{
    max-width: 700px;
    padding-top: 8rem;
    padding-left: 2rem;
    font-size: 2rem;
  }
  .confessionfeatures div{
    max-width: 600px;
    padding-top: 8rem;
    /* padding-right: 2rem; */
    font-size: 2rem;
  }
}

@media(width<1000px){
  .chatfeatures div{
    max-width: 600px;
    padding-top: 7rem;
    padding-left: 2rem;
    font-size: 1.5rem;
  }
  .confessionfeatures div{
    max-width: 500px;
    padding-top: 7rem;
    /* padding-right: 2rem; */
    font-size: 1.5rem;
  }
}


@media(width<800px){
  .chatfeatures div{
    max-width: 550px;
    padding-top: 6.5rem;
    padding-left: 2rem;
    font-size: 1.4rem;
  }
  .confessionfeatures div{
    max-width: 370px;
    padding-top: 6.5rem;
    /* padding-right: 2rem; */
    font-size: 1.4rem;
  }
}

@media(width<700px){
  .chatfeatures div{
    max-width: 450px;
    padding-top: 5.5rem;
    padding-left: 2rem;
    font-size: 1.2rem;
  }
  .confessionfeatures div{
    max-width: 350px;
    padding-top: 5.5rem;
    /* padding-right: 2rem; */
    font-size: 1.2rem;
  }
}

@media(width<600px){
  .chatfeatures div{
    max-width: 350px;
    padding-top: 5rem;
    padding-left: 2rem;
    font-size: 1rem;
  }
  .confessionfeatures div{
    max-width: 300px;
    padding-top: 5rem;
    /* padding-right: 2rem; */
    font-size: 1rem;
  }
}

@media(width<500px){
  .chatfeatures div{
    max-width: 300px;
    padding-top: 3.5rem;
    padding-left: 2rem;
    font-size: 0.9rem;
  }
  .confessionfeatures div{
    max-width: 240px;
    padding-top: 3.5rem;
    /* padding-right: 2rem; */
    font-size: 0.9rem;
  }
}

@media(width<450px){
  .chatfeatures div{
    max-width: 260px;
    padding-top: 3rem;
    padding-left: 2rem;
    font-size: 0.9rem;
  }
  .confessionfeatures div{
    max-width: 200px;
    padding-top: 3rem;
    /* padding-right: 1rem; */
    font-size: 0.9rem;
  }
}

@media(width<380px){
  .chatfeatures div{
    max-width: 260px;
    padding-top: 2.6rem;
    padding-left: 2rem;
    font-size: 0.85rem;
  }
  .confessionfeatures div{
    max-width: 200px;
    padding-top: 2.6rem;
    /* padding-right: 0.4rem; */
    font-size: 0.85rem;
  }
}


@media (width<1200px) {

  .fullform {
    font-size: 1.5rem;
    letter-spacing: 11px;
    font-weight: 500;
    margin-top: -1rem;
    margin-bottom: -3rem;

  }


  /* fixing confesion features________________________________ */
  


  .desc {
    font-size: 1.2rem;

  }

  #taglinePid {
    max-width: 400px;
  }


  .showcase {
    margin-top: 5rem;
  }

  .showcaseImg {
    width: 50%;
    height: auto;
  }

  .showcaseCont {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: 1px solid red; */
    padding-bottom: 5rem;
  }


  .unlock {
    font-family: "Trade Winds", system-ui;
    font-size: 2rem;
    text-align: center;
    margin: 3rem 3rem;
    color: #373737;
  }

  .comingsoonCards {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem;
  }

  .comingsoonCards img {
    width: 90%;
    height: auto;
  }

}

@media (width<1000px) {

  .homepageBtns{
    display: flex;
    justify-content: center;
    gap: 6rem;
    margin-top: 2.5rem; 
  } 
  
  .homepageBtns button{
    padding: 1rem 2.3rem;
    font-size: 1.15rem;
    width: 9rem;
    border-radius: 1.8rem;
  }
  



  .fullform {
    font-size: 1.4rem;
    letter-spacing: 10px;
    font-weight: 500;
    margin-top: -1rem;

  }

  .desc {
    font-size: 1rem;
    letter-spacing: 0px;
  }



  .showcase {
    margin-top: 5rem;
  }

  .showcaseImg {
    width: 50%;
    height: auto;
  }

  .showcaseCont {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: 1px solid red; */
    padding-bottom: 5rem;
  }


  .unlock {
    font-family: "Trade Winds", system-ui;
    font-size: 2rem;
    text-align: center;
    margin: 3rem 2rem;
    color: #373737;
  }


  .comingsoonCards {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  .comingsoonCards img {
    width: 100%;
    height: auto;
  }


}

@media (width<600px) {
  .homepageBtns{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem; 
  } 
  
  .homepageBtns button{
    padding: 1rem 2rem;
    font-size: 1rem;
    width: 9rem;
    border-radius: 1.5rem;
  }
  
  
  

  .ourgoal {
    font-family: "Jost", sans-serif;
    font-size: 3rem;
    color: #83E7FD;
    text-align: center;
    margin-bottom: 0;
  }

  .ourgoal span {
    color: #F85279;
  }

  .ourgoalP {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    font-family: 'Jost', sans-serif;
    /* font-size: 1.5rem; */
    text-align: center;
    margin: auto;
    font-size: 1rem;

  }

  .hiuser img {
    width: 12rem;
    transform: translateY(0%);
  }

  .map {
    width: 90%;
  }

  .fullform {
    font-size: 1.2rem;
    letter-spacing: 9px;
    font-weight: 500;
    margin-top: -1rem;

  }

  .desc {
    padding: 0 4%;
    font-size: 0.9rem;
    letter-spacing: 0px;
    margin-top: 0rem;
    /* margin-bottom: 0.5rem; */
  }



  .showcase {
    margin-top: 5rem;
  }

  .showcaseImg {
    width: 40%;
    height: auto;
  }

  .showcaseCont {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: 1px solid red; */
    padding-bottom: 1.5rem;
  }

  .unlock {
    font-family: "Trade Winds", system-ui;
    font-size: 1.4rem;
    text-align: center;
    margin: 3rem 2rem;
    color: #373737;
  }


}

@media (width<430px) {

  .hiuser img {
    width: 15rem;
    transform: translateY(0%);
  }

  .fullform {
    font-size: 1.3rem;
    letter-spacing: 10px;
    font-weight: 500;
    margin-top: -1rem;

  }

  .desc {
    padding: 0 4%;
    font-size: 0.9rem;
    letter-spacing: 0px;
  }



  .showcase {
    margin-top: 5rem;
  }

  .showcaseImg {
    width: 40%;
    height: auto;
  }

  .showcaseCont {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border: 1px solid red; */
    padding-bottom: 1.5rem;
  }

  .unlock {
    font-family: "Trade Winds", system-ui;
    font-size: 1rem;
    text-align: center;
    margin: 3rem 1rem;
    color: #373737;
  }
}